<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/user">
      Enter email:<br />
      <input type="text" name="email" />
      <br /><br />
      Enter username:<br />
      <input type="text" name="username" />
      <br /><br />
      Enter password:<br />
      <input type="password" name="password" />
      <br /><br />
      <button>Submit</button>
    </form>
  </body>
</html>
