<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h2>The number of users are: <%=count%></h2>
    <form method="get" action="/user/new">
      <button>Join us today</button>
    </form>
  </body>
</html>
